<div class="p-4 flex flex-col gap-3">
  <div class="flex justify-between items-center">
    <div>
      <h2 class="font-semibold text-lg text-gray-700">Menus</h2>
    </div>
    <div>
      <a
        routerLink="/menus"
        class="text-red-500 font-medium hover:text-red-600 transition-colors cursor-pointer"
        >See more</a
      >
    </div>
  </div>
  <div class="flex flex-1 gap-2 overflow-x-auto">
    @for (menu of MenuService.menusItems; track menu) {
    <app-menu-items
      [id]="menu.id"
      [imagen]="menu.imageUrl"
      [nombre]="menu.name"
      [subtitulo]="menu.description"
      [precio]="menu.price"
    >
    </app-menu-items>
    }
  </div>
</div>
