<nav class="p-4 flex justify-between items-center">
  <div class="flex gap-2">
    <div>
      <img class="w-14 h-14 bg-black rounded-full" src="https://i.pinimg.com/736x/25/12/b6/2512b69f4bb9e52d58d557fccb0efcb8.jpg" alt="User Avatar">
    </div>
    <div>
      <div>
        <span class="text-gray-500 text-sm">Hello Jonny</span>
      </div>
      <div class="flex items-center gap-1">
        <lucide-icon [img]="MapPin" class="w-4 h-4"></lucide-icon>
        <span class="text-lg font-semibold">Argentina</span>
      </div>
    </div>
  </div>
  <div>
    <button class=" rounded-full bg-white p-3">
      <lucide-icon [img]="BellDot" class="w-6 h-6"></lucide-icon>
    </button>
  </div>
</nav>
